

#contanair{
   margin: 0px;
   padding: 0px;
}

#div2{
    height: 500px;
    width: 100%;
    background-color:rgb(215, 230, 237);
}
#div3{
     height: 50px;
     width: 100%;
     background-color: white;
}
#div4{
    height: 300px;
    width: 800px;
    background-color: white;
    position: absolute;
    margin-top: 80px;
    margin-left: 300px;
    border-radius: 3%;
   
}
#googlelogo1{
    height: 20px;
    width: 20px;
}
#googlelogo2{
    height: 35px;
    width: 35px;
    margin-left: 20px;
    margin-top: 20px;
}
   
   

